<br>
<div class="accordion" id="accordionPayment">
    <div class="accordion-item mb-3">
        <div class="container"><br>
            <div>
            <label class="form-label">First Name - {{Account?.firstName}}</label>
        </div> 
        <br>
        <div>
            <label class="form-label">Middle Name - {{Account?.middleName}}</label>
        </div>
        <br>
        <div>
            <label class="form-label">Last Name - {{Account?.lastName}}</label> 
        </div>
        <br>
        <div>
            <label class="form-label">Mobile Number - {{Account?.mobileno}}</label>
        </div>
        <br>
        <div>
            <label class="form-label">Aadhar Card Number -{{Account?.aadhaarCardNumber}}</label>
        </div>
        <br>
        <div>
            <label class="form-label">Date of Birth - {{Account?.dob}}</label>
        </div>
        <br>
        <div>
            <label class="form-label">emailId - {{Account?.emailId}}</label>
        </div> <br>
        <div>
            <label class="form-label">Residential Address  - {{Account?.residentialAddressLine1}}</label>
        </div> <br>
        <div>
            <label class="form-label">Residential State - {{Account?.residentialState}}</label>
        </div> <br>
        <div>
            <label class="form-label">Residential City - {{Account?.residentialCity}}</label>
        </div> <br>
        <div>
            <label class="form-label">Residential Pincode - {{Account?.residentialPincode}}</label>
        </div> <br>
        <div>
            <label class="form-label">Occupation details- {{Account?.occupationdetails}}</label>
        </div> <br>
        <div>
            <label class="form-label">Occupation Type - {{Account?.occupationType}}</label>
        </div> <br>
        <div>
            <label class="form-label">Gross Annual Income - {{Account?.grossAnnualIncome}}</label>
        </div> <br>
        <br>
        <div>
            <button (click)="navigate()" class="btn btn-primary w-20 mt-2">Edit Profile</button> &nbsp;
            
        </div><br>
        </div>
    </div>
</div>










