
<!--
 <h4>Login Internet Banking</h4>
 

    <div>
        <button routerLink="/login" routerLinkActive="active" class="btn btn-group">
            Login
        </button><br>
        <button routerLink="/register" routerLinkActive="active" class="btn btn-group">
          Register
        </button><br>
        <button routerLink="/CreateAccount" routerLinkActive="active" class="btn btn-group">
            Create Account
        </button><br>
    </div>
-->
   

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberDude Training</title>

    

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700%7COpen+Sans&display=swap" />

    <!-- Libraries -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <div class="wrapper">

        <!-- Header -->
        <header>
            <nav>
                <ul>
                    <section class="offcanvas-header">             
                        <form class="d-flex">

                            <button routerLink="/login" routerLinkActive="active" class="btn btn-primary w-20 mt-2">
                                Login
                            </button>&nbsp;&nbsp;&nbsp;
                            <button routerLink="/register" routerLinkActive="active" class="btn btn-primary w-20 mt-2">
                              Register
                            </button>&nbsp;&nbsp;&nbsp;
                            <button routerLink="/CreateAccount" routerLinkActive="active" class="btn btn-primary w-20 mt-2">
                                Create Account
                            </button>&nbsp;&nbsp;&nbsp;
                        </form>
                      </section>
                </ul>
            </nav>
          
        </header>
        <!-- End Header -->

        <!-- Main Content -->
        <div class="content">
            <div class="hero-info m-50" style="flex-basis: 640px;">
                <h1>Net Banking</h1>
            </div>  
        </div>
        <footer>    
        </footer> 
    </div>  
<div class="container">
    <div class="row">
      <div class="column-66">
        <h1 class="xlarge-font"><b>Why NetBanking???</b></h1>
        <h1 class="large-font" style="color:MediumSeaGreen;"><b>Why we use it?</b></h1>
      <p><span style="font-size:36px">Getting all the banking facilities online is easy, quick and secure. With the introduction of digitalization, almost all banks offer the facility of net banking to let a customer perform all the banking services online. The online functionality eliminates the need to visit the bank physically, which otherwise requires a customer to visit the bank personally.</span> </p>
      </div>
      <div class="column-33">
        <img src="https://www.mastercardservices.com/sites/default/files/Retail-Banking-2_V4.jpg" width="750" height="500">
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="column-33">
        <img src="https://www.ibef.org/uploads/industry/Banking-Sector-Chart-November-2021.jpg" alt="App" width="750" height="500">
      </div>
      <div class="column-66">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="column-66">
      
      </div>
      <div class="column-33">
        <img src="https://www.centralbank.net.in/img/newBanner7.jpg" width="750" height="500">
      </div>
    </div>
  </div>

    
