<div class="container">

<div class="col-lg-9"  >
    <div class="accordion">
        <div class="container">   
        <h3 class="t">Account Statement</h3> <br>
            <h4 class="text">Select an Account</h4>
   
        <label>Account Number</label> &nbsp;
    
        <input type="number"  name="number" required><br><br>
           
           <label>Account Type :</label>&nbsp;
           <input type="text" name="type" required><br><br>
           
           <label>Branch :</label>&nbsp;
           <input type="text"  name="Branch" required><br><br>
           
           
           <label>Selected Account Number:</label>
           <input type="number"  name="number" required>   <br><br>
           
                <h4 class="text">Select Option for the statement period</h4>
                <p>If number of transactions for the selected period exceeds 150,please
                     View/Download account statement from the pending statement link under the My Accounts tab <br>
                     after some time</p><br>
                    
                     
                     <label>Start Date :</label>
                     <input type="date"  name="start date" required><br><br>
    
                     <label>End Date :</label>
                     <input type="date"  name="end date" required><br><br>
                     
                     <!-- <h4 class="text"> Select appropriate options to view,print or download the statement</h4>
                       
    
                        <label>Number of Records Per Page :</label> &nbsp;
                        <input type="number" required><br><br> -->
       <div >
       <button class="btn btn-primary">Go</button>&nbsp;&nbsp;&nbsp;&nbsp;
       <button class="btn btn-primary">Cancel</button>
       </div>
       
    </div>
    </div>
    </div></div>