<div class="accordion-item mb-3 border">
  <h2 class="h5 px-4 py-3 accordion-header d-flex justify-content-between align-items-center">
    <div class="form-check w-100 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseLP" aria-expanded="false">
      <input class="form-check-input" type="radio" name="payment" id="payment2">
      <label class="form-check-label pt-1" for="payment2">
          Set New Password
      </label>
    </div>            
  </h2>
  <div id="collapseLP" class="accordion-collapse collapse" data-bs-parent="#accordionPayment" >
    <form [formGroup]="NewPassword">
     <div class="accordion-body">
      <div class="row">  
        <div class="col-lg-6"> 
          <div class="form-group">  
           <div class="mb-3">
            <label class="form-label">Login Password</label>&nbsp;
            <input  id="loginpassword" type="text" name="loginpassword" formControlName="loginpassword" >
           </div>
          </div>
      </div>
      </div>
      <div class="form-group">
       <div class="mb-3">
           <label class="form-label">Confirm Login Password</label>
           <input type="text" class="form-control" formControlName="confirmloginpassword">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-2">
          <button class="btn btn-primary w-100 mt-2" (click)="submit()" type="submit">Proceed</button>
        </div>
      </div>
      </div>
    </form>
    </div>
  </div>
  <div class="accordion-item mb-3 border">
      <h2 class="h5 px-4 py-3 accordion-header d-flex justify-content-between align-items-center">
        <div class="form-check w-100 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTP" aria-expanded="false">
          <input class="form-check-input" type="radio" name="payment" id="payment2">
          <label class="form-check-label pt-1" for="payment2">
              Set New Transaction Password
          </label>
        </div>            
      </h2>
      <div id="collapseTP" class="accordion-collapse collapse" data-bs-parent="#accordionPayment" >
        <form [formGroup]="TransPassword">
         <div class="accordion-body">
          <div class="row">  
            <div class="col-lg-6"> 
              <div class="form-group">  
               <div class="mb-3">
                <label class="form-label">Login Password</label>&nbsp;
                <input  id="loginpassword" type="text" name="loginpassword" formControlName="loginpassword" >
               </div>
              </div>
          </div>
          </div>
          <div class="form-group">
           <div class="mb-3">
               <label class="form-label">Confirm Login Password</label>
               <input type="text" class="form-control" formControlName="confirmloginpassword">
            </div>
          </div>
          <div class="form-group">
              <div class="mb-3">
                  <label class="form-label">Transaction Password</label>
                  <input type="text" class="form-control" formControlName="transactionpassword">
               </div>
             </div>
             <div class="form-group">
              <div class="mb-3">
                  <label class="form-label">Confirm Transaction Password</label>
                  <input type="text" class="form-control" formControlName="confirmtransactionpassword">
               </div>
             </div>
          <div class="form-group">
            <div class="col-lg-2">
              <button class="btn btn-primary w-100 mt-2" (click)="submit()" type="submit">Proceed</button>
            </div>
          </div>
          </div>
        </form>
        </div>
      </div>